{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="container-sm" style="width: 80%; margin-top: 20px;">
        {% if application %}
            <div class="form-control">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item btn btn-outline-primary" style="margin: 10px;">
                        <a class="nav-link" aria-current="page" href="{% url 'main:welcome' %}">Ariza topshirish</a>
                    </li>
                    <li class="nav-item btn btn-outline-primary" style="margin: 10px;">
                        <a class="nav-link" href="{% url 'main:check' %}">Arizani tekshirish</a>
                    </li>
                </ul>
                {% if application.is_qabul %}
                    <div class="alert alert-success container-sm" role="alert">
                        <h4 class="alert-heading">
                            {{ application.full_name }} sizning arizangiz: Qabul qilindi.
                        </h4>
                        <p>
                            {{ application.commit }}
                        </p>
                        <hr>
                        <p class="mb-0">
                            Arizangiz natijasi bo'yicha <a href="tel:+998-91-234-44-90" style="text-decoration: none;">+998-91-234-44-90</a>
                            nomeri bilan bog'lanishingiz mumkin!
                        </p>
                    </div>
                {% elif application.is_radetildi %}
                    <div class="alert alert-danger container-sm" role="alert">
                        <h4 class="alert-heading">
                            {{ application.full_name }} sizning arizangiz: Rad etildi.
                        </h4>
                        <p>
                            {{ application.commit }}
                        </p>
                        <hr>
                        <p class="mb-0">
                            Arizangiz natijasi bo'yicha <a href="tel:+998-91-234-44-90" style="text-decoration: none;">+998-91-234-44-90</a>
                            nomeri bilan bog'lanishingiz mumkin!
                        </p>
                    </div>
                {% else %}
                    <div class="alert alert-warning container-sm" role="alert">
                        <h4 class="alert-heading">
                            {{ application.full_name }} sizning arizangiz: Ko'rilgani yo'q.
                        </h4>
                        <p>
                            Tez orada Arizangiz ko'rib chiqiladi, Email manzilingizga habar yuboriladi.
                        </p>
                        <hr>
                        <p class="mb-0">
                            Arizangiz natijasi bo'yicha <a href="tel:+998-91-234-44-90" style="text-decoration: none;">+998-91-234-44-90</a>
                            nomeri bilan bog'lanishingiz mumkin!
                        </p>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <form action="" method="post" class="form-control" enctype="multipart/form-data">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item btn btn-outline-primary" style="margin: 10px;">
                        <a class="nav-link" aria-current="page" href="{% url 'main:welcome' %}">Ariza topshirish</a>
                    </li>
                    <li class="nav-item btn btn-outline-primary" style="margin: 10px;">
                        <a class="nav-link" href="{% url 'main:check' %}">Arizani tekshirish</a>
                    </li>
                </ul>
                <hr>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id" class="form-label h2" style="padding: 10px;">Ro'yhatga olingan tartib raqamingizni
                        kiriting:</label>
                    <input type="number" name="id" class="form-control" id="id" aria-describedby="idhelp"
                           placeholder="example: 123.." style="padding: 10px; margin: 10px;" required>
                    <div id="idhelp" class="form-text" style="padding: 5px 5px 5px 10px;">Sizning arizangiz holatini
                        bilish uchun tartib raqamni kiriting
                    </div>
                </div>
                <button type="submit" class="btn btn-primary container">Tekshirish</button>
            </form>
        {% endif %}
        <h3></h3>
    </div>
{% endblock %}
