{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title" style="text-align: center;">Toshkent Davlat Stomatologiyasi Instituti talabalarini
                        Talabalar Turar joyiga online ro'yhatga olish platformasi</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <div class="input-group">
                                <label class="label">
                                    Familya Ism Otangizni ismi
                                </label>
                                <input class="input--style-4" type="text" name="full_name">
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">
                                        Tug'ilgan sanangiz
                                    </label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Jinsingiz</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">
                                            Erkak
                                            <input type="radio" checked="checked" name="gender" value="Erkak">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">
                                            Ayol
                                            <input type="radio" name="gender" value="Ayol">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Telefon nomer</label>
                                    <input class="input--style-4" type="text" name="phone_number">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label">Fakultetingiz</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="fakultet">
                                    <option disabled="disabled" selected="selected" name="subject">
                                        Fakultetlar
                                    </option>
                                    {% for faculty in faculties %}
                                        <option value="{{ faculty.link_name }}">{{ faculty.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>

                        <div class="input-group">
                            <label class="label">Kursingiz</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="kurs">
                                    <option disabled="disabled" selected="selected">kurs</option>
                                    <option value="1-kurs">1-kurs</option>
                                    <option value="2-kurs">2-kurs</option>
                                    <option value="3-kurs">3-kurs</option>
                                    <option value="4-kurs">4-kurs</option>
                                    <option value="5-kurs">5-course</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="image">Rasmingizni yuklang</label>
                            <input type="file" name="image">
                        </div>
                        <h2 style="">IJTIMOIY HOLATINGIZ BO'YICHA MA'LUMOTLARINGIZ</h2>

                        <div class="input-group">
                            <label for=""><h4>I yoki II guruh nogironligi bo'yicha ma'lumot</h4></label>
                            <input type="file" name="i_va_ii" placeholder="Rasmingizni yuklang">
                        </div>
                        <div class="input-group">
                            <label for=""><h4>"Temir daftar"ga tushgan oila farzandi bo'yicha ma'lumot</h4></label>
                            <input type="file" name="temir_daftar" placeholder="Rasmingizni yuklang">
                        </div>
                        <div class="input-group">
                            <label for=""><h4>Otasi, Onasi yoki chin yetim bo'lganlik bo'yicha ma'lumot</h4></label>
                            <input type="file" name="yetim" placeholder="Rasmingizni yuklang">
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
