{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container-sm" style="width: 80%;">
        <form action="" method="post" class="form-control" enctype="multipart/form-data" style="padding-bottom: 20px;">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item btn btn-outline-primary" style="margin: 10px;">
                    <a class="nav-link" aria-current="page" href="">Ariza topshirish</a>
                </li>

                <li class="nav-item btn btn-outline-primary" style="margin: 10px;">
                    <a class="nav-link" href="{% url 'main:check' %}">Arizani tekshirish</a>
                </li>

            </ul>
            <hr>
            {% csrf_token %}
            <h2 class="p-2" style="text-align: justify;">
                Toshkent davlat stomatologiya institutida tahsil oluvchi talabalar 2023-2024-o'quv yili uchun
                institut
                talabalar turar joylarida yashash uchun ariza topshirish uchun kerakli ma'lumotlarni kiriting.
            </h2>
            <div class="mb-3">
                <label for="name" class="form-label">F.I.O.</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp"
                       placeholder="F.I.O." required>
                <div id="emailHelp" class="form-text">F.I.O. ni kiriting</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="birthday" class="form-label">Tug'ilgan sanangiz</label>
                    <input type="date" name="birthday" class="form-control" id="birthday" required>
                </div>
                <div class="col-md-6">
                    <label for="gender" class="form-label">Jinsingiz:</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                               value="Erkak" required>
                        <label class="form-check-label" for="inlineRadio1">Erkak</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                               value="Ayol" required>
                        <label class="form-check-label" for="inlineRadio2">Ayol</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
                <div class="col-md-6">
                    <label for="number" class="form-label">Telefon nomer:</label>
                    <input type="text" name="number" class="form-control" id="number" required>
                </div>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Fakultet</label>
                <select class="form-select" id="inputGroupSelect01" name="fakultet" required>
                    <option selected>fakultetingizni tanlang...</option>
                    {% for faculty in faculties %}
                        <option value="{{ faculty.link_name }}">{{ faculty.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Kurs</label>
                <select class="form-select" id="inputGroupSelect01" name="kurs" required>
                    <option selected>Kursingizni tanlang...</option>
                    <option value="1-kurs">1-kurs</option>
                    <option value="2-kurs">2-kurs</option>
                    <option value="3-kurs">3-kurs</option>
                    <option value="4-kurs">4-kurs</option>
                    <option value="5-kurs">5-kurs</option>
                    <option value="6-kurs">6-kurs</option>
                </select>
            </div>
            <div class="input-group mb-3">

                <label class="input-group-text" for="image">Rasm:</label>
                <input type="file" class="form-control" id="image" name="image" required>
            </div>
            <hr>
            <h2 class="p-2" style="text-align: justify;">
                Ijtimoiy imtiyozlarga ega bo'lsangiz quyidagi kategoriyalar bo'yicha malumotlaringizni yuklang.
                Unutmang
                sizni ijtimoiy imkoniyatingizga qarab talabalar turar joyiga qabul qilinasiz.
            </h2>
            <hr>
            <div class="mb-3">
                <label for="yetim" class="form-label">Pasport nusxasi:</label>
                <input type="file" name="yetim" class="form-control" id="pasport" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">
                    Pasportingizni nusxasini rasm yoki fayl ko'rinishida
                </div>
            </div>
            <div class="mb-3">
                <label for="yetim" class="form-label">Chin yetim</label>
                <input type="file" name="yetim" class="form-control" id="yetim" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Ota, Ona yoki ikkalasi ham vafot etganligi bo'yicha
                    ma'lumotnoma
                </div>
            </div>
            <div class="mb-3">
                <label for="nogiron" class="form-label">I va II-guruh nogironligi bor</label>
                <input type="file" name="nogiron" class="form-control" id="nogiron" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">I yoki II guruh nogironligi bo'yicha ma'lumotnome</div>
            </div>
            <div class="mb-3">
                <label for="temir" class="form-label">
                    'Temir daftar' va 'Ayollar daftari'da turadigan oila farzandi
                </label>
                <input type="file" name="temir" class="form-control" id="temir" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">
                    'Temir daftar' yoki 'Ayollar daftar'ida turadigan oila farzandi bo'yicha ma'lumotnoma
                </div>
            </div>
            <div class="mb-3">
                <label for="temir" class="form-label">
                    'Yoshlar daftar'da turadigan talaba
                </label>
                <input type="file" name="yoshlar_daftar" class="form-control" id="temir" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">
                    'Yoshlar daftar'da turiadigan talaba bo'yicha ma'lumotnoma
                </div>
            </div>
            <div class="mb-3">
                <label for="temir" class="form-label">
                    Oilasida I va II-guruh nogironligi yoki surunkali kasalligi bo'lgan oila farzandi
                </label>
                <input type="file" name="oila_i_va_ii" class="form-control" id="temir" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">
                    Oilasida I va II-guruh nogironligi yoki surunkali kasalligi borligi bo'yicha ma'lumotnoma
                </div>
            </div>
            <div class="mb-3">
                <label for="temir" class="form-label">
                    Boshqa imtiyozga ega:
                </label>
                <input type="file" name="boshqa" class="form-control" id="temir" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">
                    Boshqa imtiyozga ega bo'lgan talaba imtiyozi bo'yicha ma'lumotnoma
                </div>
            </div>
                <button type="submit" class="btn btn-primary container">Yuborish</button>
        </form>
        <h3 style="padding: 30px;"></h3>
    </div>

{% endblock %}
