{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container-sm p-t-100" style="padding-bottom: 80px; width: 80%">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ application.image.url }}" class="img-fluid rounded-start" width="300" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5><b>1. Talabaning F.I.Sh.: </b> {{ application.full_name }}</h5>
                        <h5><b>2. Tug'ilgan sanasi: </b> {{ application.birthday }}</h5>
                        <h5><b>3. Jinsi: </b> {{ application.gender }}</h5>
                        <h5><b>4. Email: </b> {{ application.email }}</h5>
                        <h5><b>5. Telefon nomer: </b> {{ application.phone_number }}</h5>
                        <h5><b>6. Fakultet: </b> {{ application.faculty }}</h5>
                        <h5><b>7. Kurs: </b> {{ application.course }}</h5>
                        <h5><b>7. Ariza topshirgan vaqti: </b> {{ application.create_at|time:"H:i" }}
                            | {{ application.create_at|date:"d.m.Y" }}  </h5>

                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 text-center p-b-100" style="padding-bottom: 20px;">
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-success">
                    <a href="#" style="color: white;" class="nav-link h4">
                        Ariza
                        <img src="{% static 'images/document.png' %}" width="60" alt="">
                    </a>
                </button>
            </div>
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-primary">
                    <a href="{{ application.i_va_ii.url }}" style="color: white;" class="nav-link h4">
                        Nogironligi
                        <img src="{% static 'images/down2.png' %}" width="60" alt="">
                    </a>
                </button>
            </div>
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-warning">
                    <a href="{{ application.yetim.url }}" style="color: white;" class="nav-link h4">
                        Chin yetim
                        <img src="{% static 'images/down3.png' %}" width="60" alt="">
                    </a>

                </button>
            </div>
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-dark">
                    <a href="{{ application.temir_daftar.url }}" style="color: white;" class="nav-link h4">
                        Temir va ayollar daftari
                        <img src="{% static 'images/down3.png' %}" width="60" alt="">
                    </a>
                </button>
            </div>
        </div>
        <form action="" method="post" class="form-control" enctype="multipart/form-data">
            {% csrf_token %}

            <h2 class="p-2" style="text-align: justify;">
                rhtgf hfghdf
            </h2>
            <div class="mb-3">
                <div class="col-md-6">
                    <label for="gender" class="form-label">Jinsingiz:</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                               value="Erkak" required>
                        <label class="form-check-label" for="inlineRadio1">Erkak</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                               value="Ayol" required>
                        <label class="form-check-label" for="inlineRadio2">Ayol</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3></h3>
    </div>
{% endblock %}
