{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container-sm p-t-100" style="padding-bottom: 80px; width: 80%">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ application.image.url }}" class="img-fluid rounded-start" width="300" alt="...">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5><b>1. Talabaning F.I.Sh.: </b> {{ application.full_name }}</h5>
                        <h5><b>2. Tug'ilgan sanasi: </b> {{ application.birthday }}</h5>
                        <h5><b>3. Jinsi: </b> {{ application.gender }}</h5>
                        <h5><b>4. Email: </b> {{ application.email }}</h5>
                        <h5><b>5. Telefon nomer: </b> {{ application.phone_number }}</h5>
                        <h5><b>6. Fakultet: </b> {{ application.faculty }}</h5>
                        <h5><b>7. Kurs: </b> {{ application.course }}</h5>
                        <h5><b>7. Ariza topshirgan vaqti: </b> {{ application.create_at|time:"H:i" }}
                            | {{ application.create_at|date:"d.m.Y" }}  </h5>

                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0 text-center p-b-100" style="padding-bottom: 20px;">
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-success">
                    <a href="#" style="color: white;" class="nav-link h4">
                        Ariza

                        <img src="{% static 'images/document.png' %}" width="60" alt="">

                    </a>
                </button>
            </div>
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-primary">
                    <a href="{% if application.i_va_ii %}{{ application.i_va_ii.url }} {% endif %}"
                       style="color: white;" class="nav-link h4">
                        Nogironligi
                        {% if application.i_va_ii %}
                        <img src="{% static 'images/down2.png' %}" width="60" alt="">
                        {% endif %}
                    </a>
                </button>
            </div>
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-warning">
                    <a href="{% if application.yetim %}{{ application.yetim.url }}{% endif %}" style="color: white;"
                       class="nav-link h4">
                        Chin yetim
                        {% if application.yetim %}
                        <img src="{% static 'images/down3.png' %}" width="60" alt="">
                        {% endif %}
                    </a>

                </button>
            </div>
            <div class="col-md-3 center-page">
                <button type="button" class="btn btn-dark">
                    <a href="{% if application.temir_daftar %}{{ application.temir_daftar.url }}{% endif %}"
                       style="color: white;" class="nav-link h4">
                        Temir va ayollar daftari
                        {% if application.temir_daftar %}
                            <img src="{% static 'images/down3.png' %}" width="60" alt="">
                        {% endif %}
                    </a>
                </button>
            </div>
        </div>
        <form action="" method="post" class="form-control" enctype="multipart/form-data">
            {% csrf_token %}

            <h2 class="p-2" style="text-align: justify;">

            </h2>

            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Arizani:</label>
                <select class="form-select" id="inputGroupSelect01" name="status" required>
                    {% if application.status %}
                        <option value="{{ statu.id }}" selected>{{ application.status }}</option>
                    {% else %}
                        <option selected>Tanlash...</option>

                    {% endif %}
                    {% for statu in status %}
                        <option value="{{ statu.id }}">{{ statu.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment qoldiring</label>
                <textarea name="comment" id="comment" cols="100" rows="5"
                          class="form-control">{{ application.commit }}</textarea>
                <div id="emailHelp" class="form-text">Qabul qilgan yoki rad etganingizni sababi yoki tafsilotini
                    kiriting.
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="justify-items: center;">Yuborish</button>
        </form>
        <h3 style="padding: 30px;"></h3>
    </div>
{% endblock %}
